@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    background-color: #0f1115;
    color: #e2e8f0;
}

.la-gradient {
    background: linear-gradient(135deg, #1e293b 0%, #0f172a 100%);
}